<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="novedadeswelcome" style="text-align: center;"> Hola {{usuario}}!</p>
    </div>
    <div class="row">
        <div class="col-7">
            <h3>Listado de novedades</h3>
        </div>
        <div class="col-5 text-end">
            <a class="btn-success" href="/admin/novedades/agregar"><i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">titulo</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td class="text-end">
                            <a class="btn btn-secundary" href="/admin/novedades/modificar/{{id}}"><i
                                    class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-secundary" href="/admin/novedades/eliminar/{{id}}"><i class="fa fa-trash"
                                    aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btnlogout" href="/admin/login/logout">Cerrar sesión <i class="fas fa-sing-out-alt"></i></a>
    </div>
</div>